body {
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  background-color: #f5f3f1;
}
.container {
  width: 80vw;
  height: 80vh;
  padding: 5px 5px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  color: blue;
}